.small-photo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.small-photo {
    width: 22vw;
    height: 12vw;
    margin: 1vw;
}

.small-photo-selected {
    border: 0.25vw solid blue;
    width: 21.75vw;
    height: 11.75vw;
    margin: 1vw;
}